.footer {
  margin-top: 120px !important;
  background-color: #270317;
  color: white;
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9rem;
  color: #aaa;
}

.download-buttons img {
  width: 130px;
  margin: 10px 5px;
  cursor: pointer;
}

.footer-logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: -10px;
}

.red-text {
  color: red;
}

.footer-purpose {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: red;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #aaa;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
}

.subscribe-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.subscribe-button button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.subscribe-button button:hover {
  background-color: darkred;
}

.play-icon {
  margin-right: 5px;
}
